<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/speech.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <title>Chatbot</title>
</head>
<body>
    <div class="container">
        <h1>Chatbot</h1>
        <form id="questionForm" method="POST" action="/">
            <input type="text" id="speech" name="user_question" placeholder="Ask me" required />
            <br />
        </form>
        <button id="startListening"><i class="fa-regular fa-circle-play"></i> Start a chat with Gemini</button>
            <div class="chatbot-message">
                <textarea rows="15" cols="70" readonly>{{ answer }}</textarea>
              </div>
        <script src="../static/speech.js"></script>
    </div>
</body>
</html>